@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Redressed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --coach-blue: #0d6efd;
    --coach-indigo: #672ebb;
    --coach-purple: #6f42c1;
    --coach-pink: #d63384;
    --coach-red: #ea4336;
    --coach-orange: #ff5938;
    --coach-yellow: #ffc107;
    --coach-green: #24a148;
    --coach-teal: #20c997;
    --coach-cyan: #17a2b8;
    --coach-black: #261f44;
    --coach-gray: #6f6985;
    --coach-gray-dark: #565266;
    --coach-gray-100: #f4f4f5;
    --coach-gray-200: #eae9ec;
    --coach-gray-300: #d5d4d9;
    --coach-gray-400: #aaa8b3;
    --coach-gray-500: #bbb9cc;
    --coach-gray-600: #6f6985;
    --coach-gray-700: #59536d;
    --coach-gray-800: #565266;
    --coach-gray-900: #261f44;
    --coach-primary: #ff5938;
    --coach-secondary: #672ebb;
    --coach-success: #24a148;
    --coach-info: #17a2b8;
    --coach-warning: #ffc107;
    --coach-danger: #ea4336;
    --coach-light: #f4f4f5;
    --coach-dark: #261f44;
    --coach-white: #fff;
    --coach-light-primary: #ffeae6;
    --coach-light-danger: #ffebea;
    --coach-light-info: #d0ffff;
    --coach-light-warning: #fff6e1;
    --coach-light-secondary: #ebddff;
    --coach-light-success: #e8fff3;
    --coach-primary-rgb: 255,89,56;
    --coach-secondary-rgb: 103,46,187;
    --coach-success-rgb: 36,161,72;
    --coach-info-rgb: 23,162,184;
    --coach-warning-rgb: 255,193,7;
    --coach-danger-rgb: 234,67,54;
    --coach-light-rgb: 244,244,245;
    --coach-dark-rgb: 38,31,68;
    --coach-light-primary-rgb: 255,234,230;
    --coach-light-danger-rgb: 255,235,234;
    --coach-light-info-rgb: 208,255,255;
    --coach-light-warning-rgb: 255,246,225;
    --coach-light-secondary-rgb: 235,221,255;
    --coach-light-success-rgb: 232,255,243;
    --coach-primary-text-emphasis: #662416;
    --coach-secondary-text-emphasis: #29124b;
    --coach-success-text-emphasis: #0e401d;
    --coach-info-text-emphasis: #09414a;
    --coach-warning-text-emphasis: #664d03;
    --coach-danger-text-emphasis: #5e1b16;
    --coach-light-text-emphasis: #59536d;
    --coach-dark-text-emphasis: #59536d;
    --coach-primary-bg-subtle: #ffded7;
    --coach-secondary-bg-subtle: #e1d5f1;
    --coach-success-bg-subtle: #d3ecda;
    --coach-info-bg-subtle: #d1ecf1;
    --coach-warning-bg-subtle: #fff3cd;
    --coach-danger-bg-subtle: #fbd9d7;
    --coach-light-bg-subtle: #fafafa;
    --coach-dark-bg-subtle: #aaa8b3;
    --coach-primary-border-subtle: #ffbdaf;
    --coach-secondary-border-subtle: #c2abe4;
    --coach-success-border-subtle: #a7d9b6;
    --coach-info-border-subtle: #a2dae3;
    --coach-warning-border-subtle: #ffe69c;
    --coach-danger-border-subtle: #f7b4af;
    --coach-light-border-subtle: #eae9ec;
    --coach-dark-border-subtle: #bbb9cc;
    --coach-white-rgb: 255,255,255;
    --coach-black-rgb: 38,31,68;
    --coach-font-sans-serif: "Schibsted Grotesk",sans-serif;
    --coach-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --coach-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
    --coach-body-font-family: var(--coach-font-sans-serif);
    --coach-body-font-size: 1rem;
    --coach-body-font-weight: 400;
    --coach-body-line-height: 1.6;
    --coach-body-color: #6f6985;
    --coach-body-color-rgb: 111,105,133;
    --coach-body-bg: #fff;
    --coach-body-bg-rgb: 255,255,255;
    --coach-emphasis-color: #261f44;
    --coach-emphasis-color-rgb: 38,31,68;
    --coach-secondary-color: rgba(111,105,133,.75);
    --coach-secondary-color-rgb: 111,105,133;
    --coach-secondary-bg: #eae9ec;
    --coach-secondary-bg-rgb: 234,233,236;
    --coach-tertiary-color: rgba(111,105,133,.5);
    --coach-tertiary-color-rgb: 111,105,133;
    --coach-tertiary-bg: #f4f4f5;
    --coach-tertiary-bg-rgb: 244,244,245;
    --coach-heading-color: var(--coach-gray-900);
    --coach-link-color: #ff5938;
    --coach-link-color-rgb: 255,89,56;
    --coach-link-decoration: none;
    --coach-link-hover-color: #cc472d;
    --coach-link-hover-color-rgb: 204,71,45;
    --coach-code-color: #d63384;
    --coach-highlight-color: #6f6985;
    --coach-highlight-bg: #fff3cd;
    --coach-border-width: 1px;
    --coach-border-style: solid;
    --coach-border-color: #eae9ec;
    --coach-border-color-translucent: #eae9ec;
    --coach-border-radius: 0.375rem;
    --coach-border-radius-sm: 0.25rem;
    --coach-border-radius-lg: 0.5rem;
    --coach-border-radius-xl: 1rem;
    --coach-border-radius-xxl: 2rem;
    --coach-border-radius-2xl: var(--coach-border-radius-xxl);
    --coach-border-radius-pill: 50rem;
    --coach-box-shadow: 0 0.5rem 1rem rgba(38,31,68,.15);
    --coach-box-shadow-sm: 0 0.125rem 0.25rem rgba(38,31,68,.075);
    --coach-box-shadow-lg: 0 1rem 3rem rgba(38,31,68,.175);
    --coach-box-shadow-inset: inset 0 1px 2px rgba(38,31,68,.075);
    --coach-focus-ring-width: 0.25rem;
    --coach-focus-ring-opacity: 0.25;
    --coach-focus-ring-color: rgba(255,89,56,.25);
    --coach-form-valid-color: #24a148;
    --coach-form-valid-border-color: #24a148;
    --coach-form-invalid-color: #ea4336;
    --coach-form-invalid-border-color: #ea4336;
    --coach-color: #E0A458;
    --coach-color1: #A3B18A;
}

.coach-color{
    color: #E0A458;
}

.redressed {
    font-family: 'Redressed', cursive;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

.bordor-couleur{
    border-top: 2px solid var(--coach-red);
}
 /* .liquide-glass{
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}  */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(6, 5, 5, 0.829) , rgba(6, 5, 5, 0.829)), url('../images/mange1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.span-culinaire{
    font-weight: normal;
    color: var(--coach-red);
}

.home-active{
    color: var( --coach-danger);
}

.home-active:hover{
    color: var(--coach-white);
}

.other-link{
    color: var(--coach-white);
}

.other-link:hover{
    color: var(--coach-danger);
}


.fond-couleur{
    background-color: var(--coach-orange);
    color: #fff;
    border: none;
}

.fond-couleur:hover{
    background-color: var(--coach-white);
    color: #000;
    opacity: 0.8;
}

.video{
    width: 80%;
    height: 80vh;
    background: url('../images/restaurant-4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    margin: -150px auto 0 auto;
}

.rond{
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backg{
    background-color: var( --coach-light-bg-subtle);
}


.card-hover{
    transition: all .5s ease;
}

.card-hover img{
    cursor: pointer;
    transition: all .5s ease;
}

.card-hover:hover img{
    transform: scale(1.1);
}


.couleur-about{
    background-color: var(--coach-orange);
    color: #fff;
}

.couleur-about:hover{
    background-color: var(--coach-danger);
    color: #fff;
}


.espace-exterieur{
    padding: 30px 20px;
}

.image-arrondi{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.paragraph{
    font-size: 12px;
    margin-top: -25px;
}

.mw-900{
    max-width: 900px;
}

  /* Bordures noires pour les éléments de l'accordéon */
.accordion-item {
    border: 1px solid #000; /* noir pur */
  }

.accordion-button:focus {
    box-shadow: none;
    outline: none;
  }

   /* Bordure noire autour du bouton d'en-tête */
  .accordion-button {
    border-bottom: 1px solid #000;
  }

  /* Optionnel : changer aussi les bordures intérieures lors de l'ouverture */
  .accordion-collapse {
    border-top: none;
    border-bottom: 1px solid #000;
  }
  /* Supprime la couleur blue lorsqu'un accordeon est ouvert*/
  .accordion-button:not(.collapsed){
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
  }

.input-champ{
    width: 100%;
    border: 1px solid var(--coach-gray-300);
    font-size: 15px;
    color: #000;
}

.input-champ:focus{
    outline-color: var(--coach-form-invalid-border-color);
    box-shadow: 0 0 10px var(--coach-link-hover-color);
}

.button-couleur{
    background-color: var(--coach-form-invalid-border-color);
    color: #fff;
    font-size: 15px;
    transition: all .5s ease;
}

.button-couleur:hover{
    background-color: var(--coach-link-hover-color);
    color: #fff;
}

.input-footer{
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
}

.input-footer:focus{
    outline-color: var(--coach-form-invalid-border-color);
    box-shadow: 0 0 10px var(--coach-link-hover-color);
}

.bouton-subscribe{
    background-color: var(--coach-form-invalid-border-color);
    color: #fff;
    width: 150px;
}

.bouton-subscribe:hover{
    background-color: var(--coach-link-hover-color);
    color: #fff
}

.back-footer{
    background-color: var(--coach-black);
    padding: 60px 0 40px;
    position: relative;
    margin-top: 80px;
    border-radius: 100% 100% 0 0 / 50px;
}



.footer-link{
    color: var(--coach-gray-600);
}

.footer-link:hover{
    color: #fff;
}

.footer-hover:hover{
    color: var(--coach-form-invalid-border-color);
}

@media (max-width: 375px) {
    .video {
    width: 90%;
    height: 30vh;
    background: url('../images/restaurant-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: block;
    margin: -150px auto 0 auto;
    }

    .container, .row, .card, section{
        max-width: 100%;
        overflow-x: hidden;
    }

    .custom-row{
        margin-left: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .espace-exterieur{
        padding: 0;
    }

}
